.blog.list {

  .title {
    font: 2em $secondary-font;
  }

  .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    position: relative;
    @include mq-max() {
      min-height: 250px;
    }
  }

  .read-more {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.2em 1em;
    background: white;
    color: #000;
    border-radius: 30px;
    @include mq-max() {
      font-size: 0.8em;
    }
  }

  .title-container {
    position: absolute;
    bottom: 1.5em; left: 2em;
    color: #fff;
    @include mq-max() {
      left: 1em;
      bottom: 1em;
    }
    .title {
      font: 1.8em $secondary-font;
      @include mq-max() {
        font-size: 1.3em;
      }
    }
    .title, .author {
      position: relative;
    }
    .author {
      @include mq-max() {
        font-size: 0.9em;
      }
    }
  }

  .pagination {
    margin: 4em 0 0 0;
    justify-content: center;
  }
}

.blog.detail-page {
  .cover-image {
    width: 100%;
    border-radius: 10px;
  }
  .article {
    padding: 0 5em;
    background: #fff;
    margin: 0 3em;
    border-radius: 10px;
    @include mq-max() {
      margin: 0 0.5em;
      padding: 0 0.8em;
    }
    .title {
      padding: 1em 0 0.5em 0;
      text-align: center;
      font: 1.8em $secondary-font;
    }
    .details {
      display: flex;
      justify-content: center;
      & > div {
        padding: 0 1em;
      }
    }
  }
}

.blog.edit {
  .category-badge {
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    margin: 0.25em;
  }
  .category-holder {
    padding: 0 0.5em;
  }
  .close-btn {
    cursor: pointer;
  }
}

.image {
  width: 100%;
}