body {
  margin: 0;
  font-family: $primary-font;
  background: #F9F9F9;
}

.content-mt {
  margin-top: 10em;
}

.container {
  &.medium {
    max-width: 1240px;
  }
}

.issues {
  .issue-date {
    background: rgba(0,0,0,0.5);
    padding: 0.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    color: white;
    border-radius: 7px;
  }
  .issue-logo {
    position: absolute;
    bottom: -0.1em;
    right: 0.5em;
    width: 100px;
  }
}
