.navigation {
  background: rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.4s ease-in background;
  &.sticky {
    background: white;
    .nav-item {
      color: black;
    }
  }
  .logo {
    width: 9em;
  }
  .nav-item-container {
    display: flex;
    justify-content: flex-end;
    @include mq-max() {
      margin-right: 2em;
    }
  }
  .nav-item {
    text-decoration: none;
    color: white;
    margin: 0 0 0 3.5em;
    font-size: 1.1em;
    font-family: $primary-font;
    @include mq-max() {
      margin: 0 0 0 1.5em;
    }
  }
}